@use '../../assets/styles/variables' as *;

.layout {
  display: flex;

  &__content {
    margin-left: $sidebar-width;
    margin-top: $header-height;
    padding: 32px;
    min-height: calc(100vh - #{$header-height});
    width: calc(100% - #{$sidebar-width});
    background-color: $bg-secondary;
  }
}